Repository orozot/one-kanban: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: eslint --fix --max-warnings 0 {staged_files} && git add {staged_files}

stylelint:
  run: stylelint --fix {staged_files} && git add {staged_files}

prettier:
  run: prettier --write {staged_files} && git add {staged_files}

chore: init dependencies config
  .eslintcache
  .eslintrc.cjs
  .gitignore
  .lefthook/commit-msg/commitlint.sh
  .stylelintrc.cjs
  .tool-versions
  commitlint.config.cjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/main.js
  vite.config.js
Due: eslint, stylelint, prettier

docs: update readme
  README.md
Due: none

chore: add github actions yaml
  .github/workflows/pipeline.yml
  package.json
Due: none

chore: add pnpm/action-setup
  .github/workflows/pipeline.yml
Due: none

chore: update github actions yaml
  .github/workflows/pipeline.yml
Due: none

fix: update github actions yaml
  .github/workflows/pipeline.yml
Due: none

chore: fix code style
  src/components/layout/index.vue
Due: stylelint, prettier

chore: add workflow_dispatch for github actions
  .github/workflows/pipeline.yml
Due: none

chore: update github actions
  .github/workflows/pipeline.yml
Due: none

chore: update commitlint job
  .github/workflows/pipeline.yml
  package.json
Due: none

chore: update github actions
  .github/workflows/pipeline.yml
  package.json
Due: none

chore: update commitlint job
  .github/workflows/pipeline.yml
Due: none

chore: update github actions (#4)
  .github/workflows/pipeline.yml
Due: none

chore: update commitlint job
  package.json
Due: none

chore: update github actions
  package.json
Due: none

chore: test auto merge
  README.md
Due: none

feat: add setting page
  .eslintrc.cjs
  src/App.vue
  src/assets/styles/common.less
  src/assets/styles/index.less
  src/components/layout/index.vue
  src/components/menus/index.vue
  src/main.js
  src/pages/setting/index.vue
  src/router/index.js
  src/router/routes.js
  tailwind.config.cjs
Due: eslint, stylelint, prettier

feat: add gitlab settings
  src/assets/logos/gitlab-logo.svg
  src/assets/styles/common.less
  src/pages/setting/index.vue
  src/pages/setting/integration-setting/edit-modal.vue
  src/pages/setting/integration-setting/index.vue
Due: stylelint, prettier

fix: route name
  src/router/index.js
Due: eslint, prettier

chore: add vercel.json to fix 404 problem
  vercel.json
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx.vue}
  stylelint: any of: *.{less,css,vue}
  prettier: any of: *.{less,css,js,ts,jsx,tsx,vue}
